.shadowed-button {
  transition: box-shadow 200ms ease-in-out;
}

.shadowed-button:hover {
  box-shadow: 0 0 10px 4px #3DDC84;
}

@media (max-width: 480px) {
  .shadowed-button:hover {
    box-shadow: 0 0 4px 2px #3DDC84;
  }
}
