.saved-movies {
  margin-bottom: auto;
  --sidepad: 70px;
  width: calc(100% - 2*var(--sidepad));
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  .saved-movies {
    margin-bottom: auto;
    --sidepad: 30px;
  }
}

@media (max-width: 480px) {
  .saved-movies {
    --sidepad: 10px;
  }
}
